<br/>
<h2 style="margin-left:10px">Data Oriented Gateway Engine (DOGE) </h2>

<br/>
<h3 style="margin-left:10px"> Views: (Change views using the button on the top-right of the page)</h3>

<ul>
<li id="about-text"> 1. Device Chart - Plot data from the network nodes onto a chart </li>
<li id="about-text"> 2. Network Graph - Network visualization and interactive User Interface (UI) </li>
</ul>

<br/>
<h3 style="margin-left:10px"> Links:</h3>
<a href="https://github.com/bunneydude/DOGE" id="about-text"> DOGE code repository on Github </a>

