 <ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Set IO settings</h1>
    </ion-header-bar>
    <ion-content>
        <span ng-repeat='mode in pinModes'>
            <div class="item item-divider" >
                {{mode.name}}
            </div>
              <span ng-repeat= 'state in mode.possibleStates' ng-click=" changeIoState(state);">
                <label class="item item-radio" ng-if ="state.name === currentIO.activemode"  >
                   <input type="radio" value={{state.nane}} name="group" checked=true>
                      <div class="item-content">
                          {{state.name}}
                    </div>
                     <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio" ng-if ="state.name !== currentIO.activemode">
                    <input type="radio" name="group" value={{state.name}}>
                    <div class="item-content">
                        {{state.name}}
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                 </label>
              </span>
        </span>
    </ion-content>
</ion-modal-view>