<!doctype html>
<html>
<head>
  <title> DOGE Network</title>

  <script src="http://localhost:4000/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

</head>

<body>
 
<h3> DOGE Network</h3>


<div id ="filter">
<b>Filter:</b>
  <select name="Network Filter" onchange="draw();">
  <option value="Full">Full Network</option>
  <option value="433mhz">433 MHz</option>
  <option value="915mhz">915 MHz</option>
  <option value="2.4ghz">2.4 GHz</option>
</select>
</div>    
  
<p id="selection" class="pageText"></p>
<p id="instructions" class="pageText"></p>
<p id="route" class="pageText"></p>

  <div id="user-checkbox">
    <input  id="useMaskRouteBox" type="checkbox"  > Use masked nodes/edges for routing</input>
    <br></br>
  </div>
    
  <div id="user-confirm">
    <input type="button" value="Confirm" id="confirmButton" onclick="saveUserData()"></input>
    <input type="button" value="Cancel" id="cancelButton" onclick="clearUserBox()"></input>
  </div>
  <br></br>
  
  <div id="mynetwork-control">
  <input type="button" value="Toggle Routing Path Display" id="toggleRouteButton" class="mynetwork-control-button" onclick="toggleRouteDisplay()"></input>
  <input type="button" value="Add Route" id="addRouteButton" class="mynetwork-control-button" onclick="addRoute()"></input>
  <input type="button" value="Request New Route" id="reqRouteButton" class="mynetwork-control-button" onclick="reqNewRoute()"></input>
  <input type="button" value="Delete Route"  id="deleteRouteButton"  class="mynetwork-control-button" onclick="deleteRoute()"></input>
  <input type="button" value="Mask Node/Edge"  id="maskElementButton"  class="mynetwork-control-button" onclick="maskElement()"></input>
</div> 
<div id="mynetwork"></div>
<input type="button" value="Toggle Legend" onclick="toggleLegend()"></button> <div id="mynetworklegend"></div>
  
</body>
</html>

